* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
}

body {
    background: radial-gradient(circle at 50% 51%, #fff -50%, #3282ff 50%);
    /*background: radial-gradient(circle closest-side, rgba(255, 255, 255, .5) 10%, #3282ff 10%);*/
    justify-content: center;
}

.head {
    margin-top: 3em;
}

h1, .container {
    font-family: Open Sans;
    font-size: 32px;
    color: #FFFFFF;
    text-align: center;
    width: 100vw;
}

h1 {
    font-weight: bold;
    letter-spacing: -0.89px;
}

.container {
    height: 100vh;
}

/*table*/
table {
    padding: 0;
    margin: 2.5rem auto 1rem;
    background: #fff;
    font-family: Open Sans;
    font-size: 16px;
    color: #3a5071;
    width: 60%;
    height: 150%;
    box-shadow: 0 20px 40px -5px rgba(0, 0, 0, .25);
    border-radius: 1.5em;
}

.table-responsive {
    overflow-x: visible;
}

/*borders*/
.table thead th, .table td, .table th {
    border-bottom: none;
    border-top: none;
}

th, td {
    letter-spacing: 0.05em;
    border-right: solid #dae0e9 1px;
}

th {
    font-size: 14px;
}

th, td:nth-child(odd) {
    font-weight: bold;
}

    td:nth-child(6), th:nth-child(6) {
        border-right: none;
    }

/*stripes colors*/
.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th,
.table-striped > thead {
    background-color: #e5eefb;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #fff
}

/* corners of table */
.table-striped > thead > tr > th:first-child {
    border-top-left-radius: 0.3em;
}

.table-striped > thead > tr > th:last-child {
    border-top-right-radius: 0.3em;
}

.table-striped > tbody > tr:last-child > th:first-child {
    border-bottom-left-radius: 0.3em;
}

.table-striped > tbody > tr:last-child > td:last-child {
    border-bottom-right-radius: 0.3em;
}

/* paddings*/
.table-striped > thead > tr > th:first-child,
.table-striped > tbody > tr > th:first-child {
    padding: 1.2em 0em;
}

.table-striped > thead > tr > th:nth-child(2),
.table-striped > thead > tr > th:nth-child(3),
.table-striped > thead > tr > th:nth-child(5),
.table-striped > tbody > tr > td:nth-child(2),
.table-striped > tbody > tr > td:nth-child(3),
.table-striped > tbody > tr > td:nth-child(5) {
    padding: 1.2em 0em;
}

.table-striped > thead > tr > th:nth-child(4),
.table-striped > tbody > tr > td:nth-child(4) {
    padding: 1.2em 0;
    width: 22%;
}

.table-striped > thead > tr > th:last-child,
.table-striped > tbody > tr > td:last-child {
    padding: 1.2em 1.7em;
}

/*font awesome sorting arrows*/
.fa {
    color: #909fb6;
    //font-size: small;
    font-size: xx-small;
    vertical-align: middle;
    cursor: pointer;
    position: center;
    padding-right: 0;
    margin-left: 0px;
    display: inline-block;
}

.fa-sort-up {
    position: inherit;
    padding-left: 2em;
    padding-bottom: 1em;
}

.fa-sort-down {
    position: inherit;
}

.fa-stack-1x {
    width: 0%;
}

/*pagination*/
.pagination {
    display: flex;
    justify-content: center;
}

    .pagination a {
        color: #56709a;
        /*float: left;*/
        font-size: 1.1rem;
        font-weight: bold;
        letter-spacing: 0.05em;
        margin-top: 1em;
        padding: 0.5em 0.5em;
        text-decoration: none;
    }

/*a.active:disabled {
    cursor: default;
}*/
a[disabled] {
    cursor: default;
}

.pagination a.active {
    color: white;
}

.pagination a:hover:not(.active) {
    color: white;
}

/*foot - logo*/
.foot {
    font-family: 'sans-serif';
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
}

.logo {
    filter: brightness(0) invert(1);
    width: 75px;
}

/*RWD*
/*Large*/
@media (min-width: 768px) and (max-width: 991px) {
    .fa-sort-up {
        padding-left: 0.5em;
    }

    th {
        font-size: 12px;
    }

    td {
        font-size: 14px;
    }
}
/*Medium*/
@media screen (min-width: 480px) and (max-width: 768px) {
    .fa-sort-up {
        padding-left: 0.5em;
    }

    th {
        font-size: 10px;
    }

    td {
        font-size: 12px;
    }
}
/*Small*/
@media screen (max-width: 480px) {
    .fa-sort-up {
        padding-left: 0;
    }

    th {
        font-size: 10px;
    }

    td {
        font-size: 12px;
    }
}
